html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    background-color: rgb(80, 80, 80);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    vertical-align: middle;
  }

  .list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .container {
    margin: 0 auto;
    height: 100vh;
    align-content: center;
    padding: 0 2em;
    max-width: 60em;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .slider {
    display: flex;
    border-radius: 2%;
    margin-bottom: 1.5em;
    max-width: 60em;
    overflow: hidden;
    align-self: center;
  }

  .slide {
    min-width: 100%;
    transition: transform 1s ease;
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .pagination {
    order: 3;
  }

  .pagination {
    order: 2;
  }

  .texts-list {
    display: flex;
    color: #ffffff;
  }

  .text-item {
    transition: transform 1s ease;
  }

  .descr {
    margin: 0;
    font-size: 1.2em;
  }

  input[type=radio] {
    display: none;
  }

  .indicator {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid rgb(112, 97, 247);
    background-color: rgb(112, 97, 247);
  }

  
  
  input[id="button-1"]:checked ~ .pagination label[for="button-1"] .indicator {
    background-color: black;
  }

  input[id="button-2"]:checked ~ .pagination label[for="button-2"] .indicator {
    background-color: black;
  }

  input[id="button-3"]:checked ~ .pagination label[for="button-3"] .indicator {
    background-color: black;
  }

  input[id="button-4"]:checked ~ .pagination label[for="button-4"] .indicator {
    background-color: black;
  }


  .indicator:hover {
    background-color: #ffffff;
    border-color: #ffffff;
  }

  .indicator:focus {
    background-color: #ffffff;
    border-color: #ffffff;
  }

  .indicator:active {
    background-color: rgb(206, 206, 206);
    border-color: rgb(206, 206, 206);
  }



  #button-1:checked ~ .slider .slide-1 {
   transform: translateX(0);
 }

  #button-2:checked ~ .slider .slide-2 {
   transform: translateX(-100%);
 }

  #button-3:checked ~ .slider .slide-2 {
   transform: translateX(-100%);
 }

  #button-3:checked ~ .slider .slide-3 {
   transform: translateX(-200%);
 }

  #button-3:checked ~ .slider .slide-2 {
   transform: translateX(-100%);
 }

  #button-4:checked ~ .slider .slide-2 {
   transform: translateX(-100%);
 }

  #button-4:checked ~ .slider .slide-3 {
   transform: translateX(-200%);
 }

  #button-4:checked ~ .slider .slide-4 {
   transform: translateX(-300%);
 }

 .wrapper-text {
  width: 50%;
  overflow: hidden;
 }

 .text-item {
  min-width: 100%;
 }